[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "themes/hugo-theme-prav"]
	path = themes/hugo-theme-prav
	url = https://github.com/pravin/hugo-theme-prav/
[submodule "themes/hugo-theme-pixyll"]
	path = themes/hugo-theme-pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll
[submodule "themes/simplicity"]
	path = themes/simplicity
	url = https://github.com/eshlox/simplicity
[submodule "themes/mediumish-gohugo-theme"]
	path = themes/mediumish-gohugo-theme
	url = https://github.com/lgaida/mediumish-gohugo-theme
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss
[submodule "themes/hyde"]
	path = themes/hyde
	url = git@github.com:htr3n/hyde-hyde.git
[submodule "public"]
	path = public
	url = git@github.com:duongphuhiep/duongphuhiep.github.io.git
	branch = master
